
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(#85b3bb, #c9cfc6);
  ;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}